*{
  margin: 0;
  padding: 0;
}
body {
  margin: 25px;
  background-color: #ffeaa7;
}
.barra{
  
  background-color: #fdcb6e;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 4px 4px 8px 10px;
  
}
.encabezado{
  margin:50px;
  padding: 30px;
}

img {
   margin: 50px 150px 50px 150px;
  border-radius: 30px;
  align-items: center;
}
.tiempo {
  text-align: center;
  font-size: 40px;
  font-style: italic;
}
h1 {
  font-size: 60px;
  text-align: center;
}
h2 {padding: 20px;
  font-size: 35px;
  text-align: center;
  text-align: justify;
}
h3 {
  font-size: 40px;
  padding: 15px;
  text-decoration: solid;
}
.ingredientes{
  margin-left: 65px;
  padding: 25px;
  font-size: 30px;
}
.preparacion{
  margin-left: 50px;
  font-size: 30px;
  padding: 25px;
}
.nota{
  font-size: 30px;
  padding: 30px;
  margin: 30px 25px;
}
nav {
  background-color: #fdcb6e;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 4px 4px 8px 10px;

}

.nav_enlace {
  width: 400px;
  height: 35px;
  display: inline-block;
  background-color: beige;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  margin: 25px 40px;
  text-align: center;
  justify-content: center;
}
.nav_enlace:hover {
  background-color: rosybrown;
  color: white;
}

a {
  font-size: 25px;
  }
  .footer {
    margin: 30px;
    width: 1600px;
  }